ponents, props and handling events?.App {
  text-align: center;
}
.genreButton {
  font-size:2em;
  display:inline-block;
  color:brown;
  border-style:solid;
  border-width:thin;
  padding:0.3em;
  border-radius:5px;
  margin:5px;
  background-color:bisque;

 
} 
.footer {
  background-color: brown;
} 



